<!-- Clients Aside -->
    
<script type="text/javascript" src="b203e4e8-3efc-11ea-a5fd-0cc47a792c0a_id_b203e4e8-3efc-11ea-a5fd-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="b203e4e8-3efc-11ea-a5fd-0cc47a792c0a_id_b203e4e8-3efc-11ea-a5fd-0cc47a792c0a_files/background1.jpg" width=595 height=841></div>
<div style="position:absolute;left:217.56px;top:65.41px" class="cls_005"><span class="cls_005">Fabiano Calado das Mercês</span></div>
<div style="position:absolute;left:25.92px;top:104.09px" class="cls_007"><span class="cls_007">Contato</span></div>
<div style="position:absolute;left:217.56px;top:111.29px" class="cls_009"><span class="cls_009">Experiência</span></div>
<div style="position:absolute;left:25.92px;top:121.20px" class="cls_010"><span class="cls_010">fabianocalado@gmail.com</span></div>
<div style="position:absolute;left:25.92px;top:135.36px" class="cls_010"><span class="cls_010">(11) 98586-4345</span></div>
<div style="position:absolute;left:217.56px;top:151.05px" class="cls_008"><span class="cls_008">Bemaker - </span><span class="cls_011">Empresa do ramo de ensino, projetos e vendas de automação</span></div>
<div style="position:absolute;left:25.92px;top:163.92px" class="cls_010"><span class="cls_010">São Paulo, SP</span></div>
<div style="position:absolute;left:217.56px;top:165.69px" class="cls_008"><span class="cls_008">Diretor Financeiro</span></div>
<div style="position:absolute;left:217.56px;top:180.52px" class="cls_011"><span class="cls_011">Julho 2018</span></div>
<div style="position:absolute;left:217.56px;top:192.40px" class="cls_011"><span class="cls_011">Plano e Gestão financeira; Instrutor de IA; Planejamento Estratégico.</span></div>
<div style="position:absolute;left:25.92px;top:194.33px" class="cls_007"><span class="cls_007">Habilidades principais</span></div>
<div style="position:absolute;left:217.56px;top:204.40px" class="cls_011"><span class="cls_011">Belo Horizonte, Minas Gerais</span></div>
<div style="position:absolute;left:25.92px;top:211.44px" class="cls_010"><span class="cls_010">Inglês Fluente;</span></div>
<div style="position:absolute;left:25.92px;top:225.72px" class="cls_010"><span class="cls_010">Planejamento estratégico;</span></div>
<div style="position:absolute;left:217.56px;top:227.97px" class="cls_008"><span class="cls_008">WM Manhattan - </span><span class="cls_011">Formação de Traders e Investimentos</span></div>
<div style="position:absolute;left:25.92px;top:240.00px" class="cls_010"><span class="cls_010">Programação;</span></div>
<div style="position:absolute;left:217.56px;top:242.61px" class="cls_008"><span class="cls_008">Instrutor/ Proprietary Trader</span></div>
<div style="position:absolute;left:25.92px;top:254.16px" class="cls_010"><span class="cls_010">Liderança;</span></div>
<div style="position:absolute;left:217.56px;top:257.44px" class="cls_011"><span class="cls_011">Abril 2017 - Março 2019</span></div>
<div style="position:absolute;left:25.92px;top:268.44px" class="cls_010"><span class="cls_010">Gestão financeira;</span></div>
<div style="position:absolute;left:217.56px;top:269.32px" class="cls_011"><span class="cls_011">Instrutor de Trader, Trader de mesa proprietária; Gestão de Desempenho dos alunos;</span></div>
<div style="position:absolute;left:217.56px;top:281.32px" class="cls_011"><span class="cls_011">Programação de ferramentas para gestão em ambiente Google.</span></div>
<div style="position:absolute;left:25.92px;top:282.72px" class="cls_010"><span class="cls_010">Ensino;</span></div>
<div style="position:absolute;left:217.56px;top:293.32px" class="cls_011"><span class="cls_011">Belo Horizonte, Minas Gerais</span></div>
<div style="position:absolute;left:25.92px;top:297.00px" class="cls_010"><span class="cls_010">Automação e</span></div>
<div style="position:absolute;left:25.92px;top:311.16px" class="cls_010"><span class="cls_010">desenvolvimento de</span></div>
<div style="position:absolute;left:217.56px;top:316.89px" class="cls_008"><span class="cls_008">Bellatrix Limpeza e Manutenção - </span><span class="cls_011">Franquia JAN-PRO do Brasil</span></div>
<div style="position:absolute;left:25.92px;top:325.44px" class="cls_010"><span class="cls_010">sistemas de informação;</span></div>
<div style="position:absolute;left:217.56px;top:331.53px" class="cls_008"><span class="cls_008">Founder</span></div>
<div style="position:absolute;left:25.92px;top:339.72px" class="cls_010"><span class="cls_010">Trading em ações e dólar.</span></div>
<div style="position:absolute;left:217.56px;top:346.36px" class="cls_011"><span class="cls_011">Set 2016 - Mar 2018</span></div>
<div style="position:absolute;left:217.56px;top:358.24px" class="cls_011"><span class="cls_011">Gestão Financeira; Gestão de Pessoas; Relacionamento com Cliente e Fornecedores;</span></div>
<div style="position:absolute;left:217.56px;top:370.24px" class="cls_011"><span class="cls_011">Planejamento Estratégico e Operacional.</span></div>
<div style="position:absolute;left:217.56px;top:382.24px" class="cls_011"><span class="cls_011">Belo Horizonte, Minas Gerais</span></div>
<div style="position:absolute;left:217.56px;top:405.81px" class="cls_008"><span class="cls_008">Petrobrás - </span><span class="cls_011">Refinaria Gabriel Passos</span></div>
<div style="position:absolute;left:217.56px;top:420.45px" class="cls_008"><span class="cls_008">Técnico de Operação e Supervisor Interino</span></div>
<div style="position:absolute;left:217.56px;top:435.28px" class="cls_011"><span class="cls_011">Jun 2006 - Jul 2017</span></div>
<div style="position:absolute;left:217.56px;top:447.16px" class="cls_011"><span class="cls_011">Operação de Refinaria (concursado); Supervisão; Instrutor e operador de sistema</span></div>
<div style="position:absolute;left:217.56px;top:459.16px" class="cls_011"><span class="cls_011">supervisório; Planejamento e projetos para melhorias no sistema de automação</span></div>
<div style="position:absolute;left:217.56px;top:471.04px" class="cls_011"><span class="cls_011">industrial.</span></div>
<div style="position:absolute;left:217.56px;top:483.04px" class="cls_011"><span class="cls_011">Betim, Minas Gerais</span></div>
<div style="position:absolute;left:217.56px;top:521.09px" class="cls_009"><span class="cls_009">Formação</span></div>
<div style="position:absolute;left:217.56px;top:560.73px" class="cls_008"><span class="cls_008">UNIBH - Centro Universitário de Belo Horizonte</span></div>
<div style="position:absolute;left:217.56px;top:575.47px" class="cls_012"><span class="cls_012">Bacharel em Ciência da Computação · (2005 - 2010)</span></div>
<div style="position:absolute;left:217.56px;top:588.79px" class="cls_012"><span class="cls_012">Formação Regular</span></div>
<div style="position:absolute;left:217.56px;top:615.21px" class="cls_008"><span class="cls_008">CEFET-MG</span></div>
<div style="position:absolute;left:217.56px;top:628.89px" class="cls_012"><span class="cls_012">Técnico em Eletromecânica · (2002 - 2005)</span></div>
<div style="position:absolute;left:217.56px;top:672.17px" class="cls_009"><span class="cls_009">Outras atividades</span></div>
<div style="position:absolute;left:217.56px;top:708.12px" class="cls_013"><span class="cls_013">Gestão de Patrimônio Pessoal</span></div>
<div style="position:absolute;left:217.56px;top:724.12px" class="cls_011"><span class="cls_011">Julho de 2007 - Atualmente</span></div>
<div style="position:absolute;left:217.56px;top:736.00px" class="cls_011"><span class="cls_011">Ações; Fundos imobiliários; Produtos BOVESPA; Investimento em Imóveis; Position</span></div>
<div style="position:absolute;left:217.56px;top:747.88px" class="cls_011"><span class="cls_011">Trader; Gestor de carteira de investimentos</span></div>
<div style="position:absolute;left:217.56px;top:759.88px" class="cls_011"><span class="cls_011">Belo Horizonte, Minas Gerais</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-297px;top:851px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="b203e4e8-3efc-11ea-a5fd-0cc47a792c0a_id_b203e4e8-3efc-11ea-a5fd-0cc47a792c0a_files/background2.jpg" width=595 height=841></div>
<div style="position:absolute;left:217.56px;top:79.01px" class="cls_009"><span class="cls_009">Conhecimentos e experiências extras</span></div>
<div style="position:absolute;left:25.92px;top:104.09px" class="cls_007"><span class="cls_007">Contato</span></div>
<div style="position:absolute;left:217.56px;top:115.00px" class="cls_011"><span class="cls_011">Data Science</span></div>
<div style="position:absolute;left:25.92px;top:121.20px" class="cls_010"><span class="cls_010">fabianocalado@gmail.com</span></div>
<div style="position:absolute;left:217.56px;top:126.88px" class="cls_011"><span class="cls_011">Tenho me dedicado diariamente em aprofundar meus estudos nesta área. Utilizando os</span></div>
<div style="position:absolute;left:25.92px;top:135.36px" class="cls_010"><span class="cls_010">(11) 98586-4345</span></div>
<div style="position:absolute;left:217.56px;top:138.76px" class="cls_011"><span class="cls_011">desafios do site Kaggle, venho aprendendo mais sobre R, Python, Machine Learning,</span></div>
<div style="position:absolute;left:217.56px;top:150.76px" class="cls_011"><span class="cls_011">JavaScript, estatística avançada e tudo que envolve essa área.</span></div>
<div style="position:absolute;left:25.92px;top:163.92px" class="cls_010"><span class="cls_010">São Paulo, SP</span></div>
<div style="position:absolute;left:217.56px;top:174.64px" class="cls_011"><span class="cls_011">Java</span></div>
<div style="position:absolute;left:217.56px;top:186.52px" class="cls_011"><span class="cls_011">É a linguagem que tenho mais domínio. Utilizei ela durante todo meu curso de</span></div>
<div style="position:absolute;left:25.92px;top:194.33px" class="cls_007"><span class="cls_007">Habilidades principais</span></div>
<div style="position:absolute;left:217.56px;top:198.52px" class="cls_011"><span class="cls_011">graduação, além de vários outros projetos como Socket de Rede, AI, algoritmo genético,</span></div>
<div style="position:absolute;left:217.56px;top:210.40px" class="cls_011"><span class="cls_011">redes neurais e muitas outras aplicações.</span></div>
<div style="position:absolute;left:25.92px;top:211.44px" class="cls_010"><span class="cls_010">Inglês Fluente</span></div>
<div style="position:absolute;left:25.92px;top:225.72px" class="cls_010"><span class="cls_010">Planejamento estratégico</span></div>
<div style="position:absolute;left:217.56px;top:234.28px" class="cls_011"><span class="cls_011">Serverless</span></div>
<div style="position:absolute;left:25.92px;top:240.00px" class="cls_010"><span class="cls_010">Liderança</span></div>
<div style="position:absolute;left:217.56px;top:246.28px" class="cls_011"><span class="cls_011">Automatizei planilhas com informações de OKR, KPI e Tarefas do dia-a-dia utilizando o</span></div>
<div style="position:absolute;left:25.92px;top:254.16px" class="cls_010"><span class="cls_010">Programação</span></div>
<div style="position:absolute;left:217.56px;top:258.16px" class="cls_011"><span class="cls_011">Google Scripts e captando informações para montar um Dashboard com gráficos e</span></div>
<div style="position:absolute;left:25.92px;top:268.44px" class="cls_010"><span class="cls_010">Gestão financeira</span></div>
<div style="position:absolute;left:217.56px;top:270.16px" class="cls_011"><span class="cls_011">junção de resultados para avaliação dos Diretores da WM Manhattan. Desta aplicação</span></div>
<div style="position:absolute;left:217.56px;top:282.16px" class="cls_011"><span class="cls_011">foi possível gerar vários insights para a melhoria do produto.</span></div>
<div style="position:absolute;left:25.92px;top:282.72px" class="cls_010"><span class="cls_010">Ensino</span></div>
<div style="position:absolute;left:25.92px;top:297.00px" class="cls_010"><span class="cls_010">Automação e</span></div>
<div style="position:absolute;left:217.56px;top:305.92px" class="cls_011"><span class="cls_011">Excel (Avançado)</span></div>
<div style="position:absolute;left:25.92px;top:311.16px" class="cls_010"><span class="cls_010">desenvolvimento de</span></div>
<div style="position:absolute;left:217.56px;top:317.92px" class="cls_011"><span class="cls_011">Em toda minha carreira de trade, tecnologia e professor. A ferramenta Excel foi minha</span></div>
<div style="position:absolute;left:25.92px;top:325.44px" class="cls_010"><span class="cls_010">sistemas de informação</span></div>
<div style="position:absolute;left:217.56px;top:329.92px" class="cls_011"><span class="cls_011">principal aliada no desenvolvimento das minhas atividades. Possuo vasta experiência,</span></div>
<div style="position:absolute;left:25.92px;top:339.72px" class="cls_010"><span class="cls_010">Trading em ações e dólar</span></div>
<div style="position:absolute;left:217.56px;top:341.80px" class="cls_011"><span class="cls_011">chegando a desenvolver scripts externos, linguagens e integrações para atender minhas</span></div>
<div style="position:absolute;left:217.56px;top:353.68px" class="cls_011"><span class="cls_011">necessidades e resolver os desafios do cotidiano.</span></div>
<div style="position:absolute;left:217.56px;top:377.68px" class="cls_011"><span class="cls_011">Linux</span></div>
<div style="position:absolute;left:217.56px;top:389.56px" class="cls_011"><span class="cls_011">Ampla experiência na utilização de ambientes Linux. Utilizo o SO durante o dia-a-dia nas</span></div>
<div style="position:absolute;left:217.56px;top:401.44px" class="cls_011"><span class="cls_011">minhas atividades.</span></div>
<div style="position:absolute;left:217.56px;top:425.44px" class="cls_011"><span class="cls_011">Pentesting</span></div>
<div style="position:absolute;left:217.56px;top:437.32px" class="cls_011"><span class="cls_011">Sempre acesso os sites HackThisSite e PWNABLE.KR em busca de desafios para realizar</span></div>
<div style="position:absolute;left:217.56px;top:449.20px" class="cls_011"><span class="cls_011">rotinas de Pentest. Já executei diversas rotinas utilizando infinitas ferramentas para</span></div>
<div style="position:absolute;left:217.56px;top:461.20px" class="cls_011"><span class="cls_011">explorar os desafios e conseguir atingir o objetivo. Já trabalhei com a distribuição Kali do</span></div>
<div style="position:absolute;left:217.56px;top:473.20px" class="cls_011"><span class="cls_011">Linux que é focada para profissionais da área de PenTest.</span></div>
</div>
