<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Resumo</h2>
                </div>
            </div>
            <div class="speakers-caption" style="font-family:'Droid Seriff';font-size:25px">
                <br>Bacharel em Ciência da Computação e técnico em eletromecânica. Experiência em Data Science, BI, gestão de empresas, supervisão e automação. 
                    <br> Conhecimento em R, Python, Java e JavaScript, APIs google, Excel avançado.
                    <br>Participo de competições de machine learning do Kaggle (top 5% no desafio do titanic)
                    <br>Área financeira: Day trader especializado em dólar futuro, com 10+ anos de experiência em gestão de patrimônio e position trading. 
                <br> 
                 <center><a href="#speakers" class="page-scroll btn btn-xl">Projetos</a></center>
            </div>
        </div>
    </section>
