<!-- Services Section -->
    <section id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Resumo</h2>
                </div>
            </div>
            <div class="speakers-caption" style="font-family:'Goudy Old Style';font-size:30px;font-weight:bold">
                <br>Bacharel em Ciência da Computação e técnico em eletromecânica.
                <br>Experiência em Data Science, BI, gestão de empresas, supervisão e automação. 
                <br>Conhecimento em R, Python, Java e JavaScript, APIs google, Excel avançado.
                <br>Participo de competições de machine learning do Kaggle e desafios de pentesting no pwnable.kr.
                <br>Área financeira: Day trader especializado em dólar futuro, com 10+ anos de experiência em gestão de patrimônio e position trading. 
                <br><br><br> 
                 <center><a href="#speakers" class="page-scroll btn btn-xl">Projetos</a></center>
            </div>
        </div>
    </section>
